@import "theme.css";
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: @text;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces{
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  padding-right: 5px;
  /*margin-left: 1rem;*/
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#network,
#pulseaudio,
#custom-lock,
#custom-pomodoro,
#custom-power {
  background-color: @surface0;
  padding: 0.1rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  /*border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;*/
  padding-top: 3px;
}

#network {
  color: @teal;
  padding-left: 5px;
  padding-right: 10px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  padding-left: 5px;
  padding-right: 6px;
}

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#custom-pomodoro {
  color: @lavender;
}

tooltip {
  background-color: @surface0;
}

tooltip label {
  color: @text;
}

menu {
  background-color: @surface0;
  color: rgb(255,0,0);
}

menuitem label{
  color: @text;
}
